.content p,
.p,
.content li,
.li {
	font-size: 1.6rem;
	line-height: (19/16) * 1;
}

.content ul,
.content ol {
}

.content b,
.b {
	font-weight: bold;
}

.content strong,
.strong {
	font-weight: 500;
}

.content a,
.a {
}

.h1,
.content h1,
.h2,
.content h2,
.h3,
.content h3,
.h4,
.content h4,
.h5,
.content h5,
.h6,
.content h6 {
}

.h1,
.content h1 {
}

.h2,
.content h2 {
}

.h3,
.content h3 {
}

.h4,
.content h4 {
}

.h5,
.content h5 {
}

.h6,
.content h6 {
}
