doctype html
html(lang="ru")
	head
		title Список всех старниц
		meta(name='format-detection', content='telephone=no')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

		style.
			*{
				padding: 0;
				margin: 0;
			}
			body{
				background-color: #f3e6a4;
				color: #171717;
				font-size: 16px;
				height: 100vh;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: Arial;		
			}

			ol{
				display: flex;
				flex-wrap: wrap;
				width: 80%;
				margin: auto;
				padding: 60px;

				border-radius: 5px;
				box-shadow: 0px 10px 20px 0px rgba(0,0,0,.1);
				background-color: #fff;
			}

			li{
				flex: 1 0 200px;
				margin: 15px;
			}

			a{
				color: #171717;
			}

			h2{
			    position: absolute;
			    left: 0;
			    top: 16px;
			    text-align: center;
			    width: 100%;
			    font-size: 30px;
			    		
			}

			a:hover{
				text-decoration: none;
			}
	body
		#update-this
	